@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

body,
body[data-scroll-locked] {
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
:root {
  --color-light: #FFFFFF;
  --color-input-background: #F1F1F1;
  --color-hr-gray: lightgray;
  --color-dark: #141414;
  --color-dark-10: 2;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;
  --color-placeholder: #9ca3af;
  --color-accent: #027bff;
  --color-accent-hover:#0037ff ;
  --transition-duration: 0.2s;
  --container-width: 80rem;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 62.5rem;
  }
}

.container {
  width: var(--container-width);
  margin-inline: auto;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  font-family: var(--font-nunito), sans-serif;
  color: var(--color-dark-10);
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

b.accent__text {
  color: var(--color-accent);
}
b.accent__text-bold {
  font-weight: 900;
}

a[aria-label],
button[aria-label] {
  position: relative;
}

.input-ui {
  display: flex;
  width: 100%;
  border-radius: 0.9375rem;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0.5rem 1rem;
  transition: all var(--transition-duration) ease;
}
.input-ui::placeholder {
  color: var(--color-placeholder);
}
.input-ui:focus-visible {
  border-color: var(--color-accent);
}
.input-ui:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button-ui {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.9375rem;
  transition: all ease var(--transition-duration);
  height: 3.125rem;
  padding: 0.75rem 1.125rem;
  background: transparent;
  color: var(--color-accent);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-accent);
}
.button-ui__spin-loader {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button-ui svg {
  fill: none;
}
.button-ui:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.button-ui:hover {
  background: var(--color-accent);
  color: var(--color-light);
}

@keyframes animate-spin {
  to {
    transform: rotate(360deg);
  }
}
.popover-ui {
  z-index: 50;
  border-radius: 0.9375rem;
  background-color: var(--color-input-background);
  padding: 0.5rem 1rem;
  margin-top: 4px;
}
.popover-ui[data-state=open] {
  animation: fadeIn 0.1s ease, zoomIn 0.1s ease;
}
.popover-ui[data-state=closed] {
  animation: fadeOut 0.1s ease, zoomOut 0.1s ease;
}
.popover-ui[data-side=bottom] {
  animation: slideInFromTop 0.2s ease;
}
.popover-ui[data-side=left] {
  animation: slideInFromRight 0.2s ease;
}
.popover-ui[data-side=right] {
  animation: slideInFromLeft 0.2s ease;
}
.popover-ui[data-side=top] {
  animation: slideInFromBottom 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}
@keyframes slideInFromTop {
  from {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(0.5rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-0.5rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(0);
  }
}
.checkbox-ui {
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--color-input-background);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  padding: 0;
}
.checkbox-ui:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
}
.checkbox-ui:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.checkbox-ui[data-state=checked] {
  background-color: #3b82f6;
  color: white;
}
.checkbox-ui__indicator {
  display: flex;
  align-items: center;
}
.checkbox-ui span {
  display: flex;
  margin-inline: auto;
}
.checkbox-ui svg {
  fill: none;
}

.range-slider-ui {
  position: relative;
  display: flex;
  width: 100%;
  margin-inline: auto;
  touch-action: none;
  user-select: none;
  margin-bottom: 1.5rem;
  align-items: center;
}
.range-slider-ui-track {
  position: relative;
  height: 0.25rem;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 15px;
  background: var(--color-hr-gray);
}
.range-slider-ui-range {
  position: absolute;
  height: 100%;
  background: var(--color-accent);
}
.range-slider-ui-thumb {
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 15px;
  border: 1px solid var(--color-hr-gray);
  background-color: var(--color-light);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s, border-color 0.2s;
}
.range-slider-ui-thumb:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--ring);
}
.range-slider-ui-thumb:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.range-slider-ui-value {
  position: absolute;
  text-align: center;
  top: 10px;
  font-size: 0.875rem;
}

.progress-ui {
  position: relative;
  height: 0.5rem;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  background: rgb(220, 220, 220);
}
.progress-ui-indicator {
  height: 100%;
  width: 100%;
  flex: 1 1 0;
  background-color: var(--color-accent);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.skeleton-ui {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: 0.5rem;
  background-color: rgba(26, 26, 26, 0.1);
}

.dialog-ui-overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
}
.dialog-ui-overlay[data-state=open] {
  animation: fade-in 100ms ease-out;
}
.dialog-ui-overlay[data-state=closed] {
  animation: fade-out 100ms ease-in;
}

.dialog-ui-content {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 50;
  display: grid;
  width: 100%;
  max-width: 32rem;
  transform: translateX(-50%) translateY(-50%);
  gap: 1rem;
  border: 1px solid #e5e7eb;
  background-color: var(--color-light);
  padding: 1.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition-duration: 100ms;
  border-radius: 0.9375rem;
  overflow-y: auto;
}
.dialog-ui-content[data-state=open] {
  animation: content-open 100ms ease-out;
}
.dialog-ui-content[data-state=closed] {
  animation: content-close 100ms ease-in;
}

.dialog-ui-header {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  text-align: center;
}
@media (min-width: 640px) {
  .dialog-ui-header {
    text-align: left;
  }
}

.dialog-ui-footer {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 640px) {
  .dialog-ui-footer {
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}

.dialog-ui-title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
}

.dialog-ui-description {
  font-size: 0.875rem;
  color: #6b7280;
}

.dialog-ui-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 0.125rem;
  opacity: 0.7;
  transition: opacity 100ms;
}
.dialog-ui-close:hover {
  opacity: 1;
}
.dialog-ui-close:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-accent), 0 0 0 4px var(--color-light);
}
.dialog-ui-close:disabled {
  pointer-events: none;
}

.dialog-ui-trigger {
  width: fit-content;
  padding: 0;
  border: none;
  background: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes content-open {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}
@keyframes content-close {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
  }
}
.toaster-ui {
  font-size: 20px;
}

#_rht_toaster svg.lucide {
  stroke: var(--color-accent);
  fill: none;
  width: 30px;
  height: 30px;
}

.not-found__page {
  padding: 18vh 0;
  text-align: center;
}
.not-found__page svg {
  fill: none;
  stroke: var(--color-accent);
}

.catalog-block {
  margin: 1.875rem 0;
  display: flex;
}
.catalog-block__list {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}

.work-page {
  margin-top: 30px;
}
.work-page__link-span {
  margin-top: 20px;
}
.work-page__link__current {
  color: var(--color-accent);
}
.work-page__image {
  float: right;
}
.work-page__article {
  margin-top: 40px;
}
.work-page__article h1 {
  font-size: 2.5rem;
}
.work-page__article p {
  width: 500px;
  font-size: 1.25rem;
}
.work-page__section {
  margin-top: 120px;
}
.work-page__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}
.work-page__list__item {
  background-color: var(--color-input-background);
  padding: 30px 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.work-page__list__item__title {
  display: flex;
  align-items: center;
}
.work-page__list__item__title svg.lucide {
  fill: none;
  margin-right: 10px;
}

.logo__block {
  display: flex;
  align-items: center;
}
.logo__block:hover {
  color: inherit;
}
.logo__block .logo__title {
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 0.85;
  letter-spacing: 0.125rem;
}
.logo__block svg {
  fill: none;
  margin-right: 7px;
  stroke: var(--color-accent);
}

.search-input {
  position: relative;
  width: 100%;
  height: 3.125rem;
  background-color: var(--color-input-background);
  border-radius: 0.9375rem;
  z-index: 30;
}
.search-input__icon {
  position: absolute;
  top: 50%;
  left: 1.25rem;
  transform: translateY(-50%);
  fill: none;
  stroke: var(--color-placeholder);
  transition: all var(--transition-duration) ease;
}
.search-input__input {
  height: 100%;
  padding-left: 3.125rem;
  outline: none;
}
.search-input__input:focus-visible {
  border: 1px solid transparent;
}
.search-input:focus-within {
  background-color: var(--color-light);
}
.search-input:focus-within .search-input__icon {
  stroke: var(--color-accent);
  background-color: var(--color-light);
}

.fixed-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

.search-input__list {
  position: absolute;
  width: 100%;
  background-color: var(--color-light);
  border-radius: 0.9375rem;
  padding: 0.5rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
  z-index: 30;
}
.search-input__list.focused {
  visibility: visible;
  opacity: 1;
  top: 3.75rem;
}
.search-input__list__item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.625rem;
  height: 3.75rem;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2ms ease;
}
.search-input__list__item:hover {
  background-color: rgba(2, 123, 255, 0.1);
}
.search-input__list__item__content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.search-input__list__item__content__title--skeleton {
  display: flex;
  align-items: center;
  width: 150px;
  height: 25px;
}
.search-input__list__item__content__image {
  display: flex;
  justify-content: center;
  width: 90px;
}
.search-input__list__item__content__image--skeleton {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 50px;
}
.search-input__list__item__content__image svg {
  fill: none;
  stroke: var(--color-accent);
}
.search-input__list__item img {
  max-width: 5.625rem;
  max-height: 2.8125rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
  margin: 1.25rem 0;
}
.header .button-block {
  display: flex;
  gap: 0.625rem;
}
.header .button-block__button svg.lucide-circle-user, .header .button-block__button svg.lucide-log-in {
  margin-right: 0.3125rem;
}

.navbar {
  display: flex;
  font-size: 0.875rem;
  padding: 0.875rem 0;
}
.navbar__hr {
  border: 0;
  height: 0.5px;
  background: var(--color-hr-gray);
  width: 100%;
  margin: 0;
}
.navbar__link {
  margin-right: 20px;
  font-weight: 700;
  transition: all var(--transition-duration) ease;
}
.navbar__link:last-child {
  margin-right: 0;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: all 0.2s ease;
}

.bar__shadow.sticky .logo {
  transform: translate(0, -50%);
  opacity: 1;
}

.bar__shadow {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1.25rem;
  box-shadow: 0 0.625rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.05), 0 0.25rem 0.375rem -0.25rem rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  z-index: 10;
}

.top-bar {
  display: flex;
  align-items: center;
  position: relative;
}
.top-bar .categories__list {
  display: inline-flex;
  background: var(--color-input-background);
  gap: 0.5rem;
  padding: 0.375rem;
  border-radius: 0.9375rem;
  transition: margin-left 0.2s ease;
}
.top-bar .categories__list__item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.9375rem;
  cursor: pointer;
  transition: all var(--transition-duration) ease;
}
.top-bar .categories__list__item.active {
  background: var(--color-accent);
  color: var(--color-light);
}
.top-bar .categories__list.sticky {
  margin-left: 180px;
}

.sort__button {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0.375rem;
  cursor: pointer;
}
.sort__button svg {
  margin-right: 0.375rem;
}
.sort__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-filter {
  display: flex;
  align-items: center;
}
.checkbox-filter__label {
  margin-left: 0.5rem;
}
.checkbox-filter__color {
  width: 1.25rem;
  height: 1.25rem;
  align-content: center;
  border-radius: 6px;
  margin: 0 -0.125rem 0 0.3125rem;
}
.checkbox-filter__color__white {
  border: 1px solid var(--color-hr-gray);
}

.group-filter {
  padding: 1.5625rem 0;
  border-bottom: 0.0625rem solid var(--color-hr-gray);
}
.group-filter:last-child {
  border: none;
}
.group-filter__title {
  margin-bottom: 0.625rem;
}
.group-filter__slider {
  margin-top: 1rem;
}
.group-filter__checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.group-filter__show-all {
  margin-top: 0.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--color-accent);
}
.group-filter__show-all__input {
  padding: 6px 14px;
  height: fit-content;
  border: 2px solid var(--color-hr-gray);
  margin-bottom: 0.5rem;
  transition: all var(--transition-duration) ease;
}
.group-filter__show-all__input:hover {
  border: 2px solid var(--color-accent);
}

.filters-wrapper {
  display: flex;
  flex-direction: column;
  width: 13.125rem;
  margin-right: 2.8125rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 42px;
  row-gap: 40px;
}
.product-list__title--skeleton {
  width: 190px;
  height: 45px;
  margin-bottom: 13px;
}

.product-card {
  width: 19.375rem;
  display: flex;
  flex-direction: column;
}
.product-card--skeleton {
  height: 28.125rem;
  width: 19.375rem;
  display: flex;
  flex-direction: column;
}
.product-card p {
  font-size: 0.875rem;
  color: var(--color-placeholder);
  margin-bottom: 0.625rem;
  transition: all 0.1s ease;
}
.product-card__title--skeleton {
  width: 7.5rem;
  height: 2.25rem;
}
.product-card__title:hover {
  color: var(--color-accent);
}
.product-card__text {
  flex-direction: column;
}
.product-card__description--skeleton {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}
.product-card__description--skeleton--content {
  width: 100%;
  height: 0.75rem;
}
.product-card__image {
  position: relative;
  align-content: center;
  height: 16.25rem;
  padding: 0.625rem 0;
  background: var(--color-input-background);
  border-radius: 0.9375rem;
  margin-bottom: 0.625rem;
}
.product-card__image img {
  max-width: 240px;
}
.product-card__image--skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
}
.product-card__image--skeleton--content {
  width: 17.5rem;
  height: 11.25rem;
}
.product-card__image__favorite {
  position: absolute;
  padding: 10px;
  margin: -5px -5px 0 0;
  box-sizing: content-box;
  top: 15px;
  right: 15px;
  fill: none;
  color: lightgrey;
  transition: all 0.1s ease;
  cursor: pointer;
}
.product-card__image__favorite-active {
  fill: var(--color-accent);
  stroke: var(--color-accent);
}
.product-card__image__favorite:hover {
  color: var(--color-accent);
}
.product-card__image img {
  display: flex;
  margin-inline: auto;
  max-width: 15.9375rem;
  max-height: 13.75rem;
}
.product-card__footer {
  display: flex;
  align-items: center;
  margin-top: auto;
}
.product-card__footer__price {
  font-size: 1.5rem;
}
.product-card__footer__price--skeleton {
  width: 5.3125rem;
  height: 2.25rem;
}
.product-card__footer__button--skeleton {
  width: 7.25rem;
  height: 2.6rem;
  margin-left: auto;
}
.product-card__footer .button-ui {
  margin-left: auto;
  padding: 0.5rem;
  height: fit-content;
}
.product-card__footer .button-ui svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 5px;
}
.product-card__href {
  width: fit-content;
}

.product-page__links {
  margin: 1.25rem 0;
}
.product-page__links__link {
  transition: all 0.1ms ease;
}
.product-page__links__product {
  color: var(--color-placeholder);
}
.product-page__info {
  display: flex;
  justify-content: space-between;
}
.product-page__description {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  width: 20rem;
}
.product-page__description__text {
  font-size: 0.9375rem;
}
.product-page__description__color {
  font-weight: normal;
  font-size: 1rem;
}
.product-page__description__colors {
  display: flex;
  gap: 0.625rem;
}
.product-page__description__colors .color {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.1ms ease;
}
.product-page__description__colors .color:hover {
  transform: scale(1.05);
}
.product-page__description__colors .color__white {
  border: 1px solid var(--color-hr-gray);
}
.product-page__description__colors .selected {
  border: 3px solid var(--color-accent);
}
.product-page__sidebar {
  display: flex;
  flex-direction: column;
  width: 16.25rem;
}
.product-page__price {
  display: flex;
  flex-direction: column;
  background: var(--color-input-background);
  border-radius: 0.9375rem;
  width: 100%;
  height: 10.625rem;
  padding: 1.25rem;
  margin-bottom: 0.9375rem;
}
.product-page__price__title {
  font-size: 1.75rem;
  font-weight: 700;
}
.product-page__price__progress {
  width: 80px;
}
.product-page__price__stock {
  font-size: 1rem;
  color: green;
}
.product-page__price__stock--red {
  color: red;
}
.product-page__price__stock-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-page__price__button {
  margin-top: auto;
}
.product-page__price__button svg {
  margin: 0.375rem;
}
.product-page__image {
  display: flex;
  background: var(--color-input-background);
  border-radius: 0.9375rem;
  justify-content: center;
  align-items: center;
  width: 37.5rem;
  height: 25rem;
  padding: 1.25rem;
}
.product-page__image img {
  max-width: 35rem;
  max-height: 22.5rem;
}

.similar__block {
  display: flex;
  flex-direction: column;
}
.similar__title {
  margin: 1.25rem 0;
}
.similar__list {
  display: flex;
  gap: 0.9375rem;
}
.similar__list__item {
  width: 19.25rem;
  height: 12.5rem;
  background: var(--color-input-background);
  padding: 1.25rem;
  border-radius: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.similar__list__item-keyboard {
  width: 19.25rem;
  height: 12.5rem;
  background: var(--color-input-background);
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem;
  border-radius: 0.9375rem;
}
.similar__list__info {
  display: flex;
  flex-direction: column;
}
.similar__list__info-keyboard {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.similar__list__info__price {
  width: fit-content;
  font-weight: 700;
}
.similar__list__info__price--skeleton {
  width: 56px;
  height: 24px;
}
.similar__list__info__price-keyboard {
  margin-left: auto;
}
.similar__list__info__price-keyboard--skeleton {
  margin-left: auto;
  width: 60px;
  height: 25px;
}
.similar__list__info__title {
  width: 8.75rem;
  margin-bottom: 0.625rem;
}
.similar__list__info__title--skeleton {
  width: 8.75rem;
  height: 3.5rem;
  margin-bottom: 0.625rem;
}
.similar__list__info__title-keyboard--skeleton {
  width: 5.625rem;
  height: 1.875rem;
}
.similar__list__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.875rem;
  width: 5rem;
}
.similar__list__image img {
  max-width: 5rem;
  max-height: 11.25rem;
}
.similar__list__image--skeleton {
  width: 5rem;
  height: 9.375rem;
  margin-right: 0.625rem;
}
.similar__list__image-keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.625rem;
  height: 7.5rem;
}
.similar__list__image-keyboard--skeleton {
  margin-top: 0.3125rem;
  width: 100%;
  height: 5.3125rem;
  margin-bottom: 0.9375rem;
}

.title-length-products {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.title-length-products--skeleton {
  width: 2.375rem;
  height: 2.5rem;
}

.auth-modal {
  width: 480px;
  padding: 36px 48px;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}
.auth-modal__title {
  font-size: 2rem;
}
.auth-modal hr {
  border: 0;
  height: 1px;
  background: var(--color-dark-40);
  width: 100%;
  margin: 0;
}
.auth-modal__switch__button {
  font-size: 1rem;
  text-align: center;
}
.auth-modal__switch__button a {
  transition: all var(--transition-duration) ease;
  cursor: pointer;
  border-bottom: 2px solid var(--color-dark);
}
.auth-modal__switch__button a:hover {
  color: var(--color-accent);
}
.auth-modal__buttons-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.auth-modal__buttons-block svg {
  transition: all var(--transition-duration) ease;
  margin-right: 8px;
}
.auth-modal .dialog-close {
  display: none;
}

.auth-modal__buttons-block__button svg {
  fill: var(--color-accent);
  stroke: none;
}
.auth-modal__buttons-block__button:hover svg {
  fill: var(--color-light);
}

.auth-popover__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.auth-popover__list__item, .auth-popover__list a {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all var(--transition-duration) ease;
}
.auth-popover__list__item svg, .auth-popover__list a svg {
  margin-right: 10px;
  fill: none;
}
.auth-popover__list__item:hover, .auth-popover__list a:hover {
  color: var(--color-accent);
}

.button-block__button--skeleton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.9375rem;
  height: 3.125rem;
  padding: 0.75rem 1.125rem;
  background: transparent;
  border: 1px solid var(--color-accent);
}
.button-block__button--skeleton--content {
  width: 50px;
  height: 22px;
}
.button-block__button--skeleton--content__img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.error-text {
  color: oklch(63.7% 0.237 25.331deg);
}

.clear-button {
  background: none;
  border: none;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  cursor: pointer;
}
.clear-button:hover {
  opacity: 1;
}
.clear-button svg {
  display: block;
}
.clear-button .icon-x {
  height: 1.25rem;
  width: 1.25rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.auth-form__header__title {
  font-size: 2rem;
}
.auth-form__header__subtitle {
  font-size: 1rem;
}
.auth-form__input-block {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
}
.auth-form__submit-button {
  background: var(--color-accent);
  color: var(--color-light);
}
.auth-form__submit-button:hover {
  background: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
}

.form-input__block {
  position: relative;
}
.form-input__valid {
  background: none;
  border: none;
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  fill: none;
  stroke: rgb(0, 185, 45);
}
.form-input__input {
  background: var(--color-input-background);
}
.form-input__input--error {
  background: rgba(251, 44, 54, 0.2);
}
.form-input__input--error:focus {
  background: var(--color-input-background);
}
.form-input__error {
  font-size: 0.875rem;
}
.form-input__error--hide {
  height: 1.3125rem;
}

.multi-step-job-form {
  max-width: 480px;
  max-height: 600px;
  padding: 48px;
  background-color: var(--color-input-background);
  border-radius: 10px;
}
.multi-step-job-form h2 {
  text-align: center;
  color: #00ffcc;
}
.multi-step-job-form .form-step {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.multi-step-job-form label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.multi-step-job-form input, .multi-step-job-form textarea {
  margin-top: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}
.multi-step-job-form p {
  text-align: center;
  color: #ccc;
}

/*# sourceMappingURL=main.css.map */
