@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
:root {
  --color-light: #FFFFFF;
  --color-input-background: #F1F1F1;
  --color-hr-gray: lightgray;
  --color-dark: #141414;
  --color-dark-10: #1A1A1A;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;
  --color-placeholder: #9ca3af;
  --color-accent: #027bff;
  --transition-duration: 0.2s;
  --container-width: 80rem;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 62.5rem;
  }
}

.container {
  width: var(--container-width);
  margin-inline: auto;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  font-family: var(--font-nunito), sans-serif;
  color: var(--color-dark-10);
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

b.accent__text {
  color: var(--color-accent);
}
b.accent__text-bold {
  font-weight: 900;
}

a[aria-label],
button[aria-label] {
  position: relative;
}

.input-ui {
  display: flex;
  width: 100%;
  border-radius: 0.9375rem;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0.5rem 1rem;
  transition: all var(--transition-duration) ease-out;
}
.input-ui::placeholder {
  color: var(--color-placeholder);
}
.input-ui:focus-visible {
  border-color: var(--color-accent);
}
.input-ui:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button-ui {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.9375rem;
  transition: all ease-out var(--transition-duration);
  height: 3.125rem;
  padding: 0.75rem 1.125rem;
  background: transparent;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}
.button-ui svg {
  fill: none;
}
.button-ui:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.button-ui:hover {
  background: var(--color-accent);
  color: var(--color-light);
}

.popover-ui {
  z-index: 50;
  border-radius: 0.9375rem;
  background-color: var(--color-input-background);
  padding: 0.5rem 1rem;
}
.popover-ui[data-state=open] {
  animation: fadeIn 0.1s ease, zoomIn 0.1s ease;
}
.popover-ui[data-state=closed] {
  animation: fadeOut 0.1s ease, zoomOut 0.1s ease;
}
.popover-ui[data-side=bottom] {
  animation: slideInFromTop 0.2s ease;
}
.popover-ui[data-side=left] {
  animation: slideInFromRight 0.2s ease;
}
.popover-ui[data-side=right] {
  animation: slideInFromLeft 0.2s ease;
}
.popover-ui[data-side=top] {
  animation: slideInFromBottom 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}
@keyframes slideInFromTop {
  from {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(0.5rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-0.5rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(0);
  }
}
.checkbox-ui {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #f3f4f6;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  padding: 0;
}
.checkbox-ui:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
}
.checkbox-ui:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.checkbox-ui[data-state=checked] {
  background-color: #3b82f6;
  color: white;
}
.checkbox-ui__indicator {
  display: flex;
  align-items: center;
}
.checkbox-ui span {
  display: flex;
  margin-inline: auto;
}
.checkbox-ui svg {
  fill: none;
}

.not-found__page {
  padding: 18vh 0;
  text-align: center;
}
.not-found__page svg {
  fill: none;
  stroke: var(--color-accent);
}

.catalog-block {
  margin-top: 1.875rem;
  display: flex;
}

.logo__block {
  display: flex;
  align-items: center;
}
.logo__block:hover {
  color: inherit;
}
.logo__block .logo__title {
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 0.85;
  letter-spacing: 0.125rem;
}
.logo__block svg {
  fill: none;
  margin-right: 7px;
  stroke: var(--color-accent);
}

.search-input {
  position: relative;
  width: 100%;
  height: 3.125rem;
  background-color: var(--color-input-background);
  border-radius: 0.9375rem;
}
.search-input__icon {
  position: absolute;
  top: 50%;
  left: 1.25rem;
  transform: translateY(-50%);
  fill: none;
  stroke: var(--color-placeholder);
  transition: all var(--transition-duration) ease;
}
.search-input__input {
  height: 100%;
  padding-left: 3.125rem;
}
.search-input:focus-within .search-input__icon {
  stroke: var(--color-accent);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
  margin: 1.25rem 0;
}
.header .button-block {
  display: flex;
  gap: 0.625rem;
}
.header .button-block__button svg.lucide-user {
  margin-right: 0.3125rem;
}

.navbar {
  display: flex;
  font-size: 0.875rem;
  padding: 0.875rem 0;
}
.navbar__hr {
  border: 0;
  height: 1px;
  background: var(--color-hr-gray);
  width: 100%;
  margin: 0;
}
.navbar__link {
  margin-right: 20px;
  font-weight: 700;
  transition: all var(--transition-duration) ease-out;
}
.navbar__link:last-child {
  margin-right: 0;
}

.bar__shadow {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1.25rem;
  box-shadow: 0 0.625rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.05), 0 0.25rem 0.375rem -0.25rem rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.top-bar {
  display: flex;
  align-items: center;
  position: sticky;
}
.top-bar .categories__list {
  display: inline-flex;
  background: var(--color-input-background);
  gap: 0.5rem;
  padding: 0.375rem;
  border-radius: 0.9375rem;
}
.top-bar .categories__list__item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.9375rem;
  cursor: pointer;
  transition: all var(--transition-duration) ease-out;
}
.top-bar .categories__list__item.active {
  background: var(--color-accent);
  color: var(--color-light);
}

.sort__button {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0.375rem;
  cursor: pointer;
}
.sort__button svg {
  margin-right: 0.375rem;
}
.sort__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkbox-filter {
  display: flex;
  align-items: center;
}
.checkbox-filter__label {
  margin-left: 0.5rem;
}
.checkbox-filter__color {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: 0 -0.125rem 0 0.3125rem;
}
.checkbox-filter__color__white {
  border: 1px solid var(--color-hr-gray);
}

.filters-block {
  width: 13.125rem;
  margin-right: 0.9375rem;
}

.group-filter {
  padding: 1.5625rem 0;
  border-bottom: 0.0625rem solid var(--color-hr-gray);
}
.group-filter:last-child {
  border: none;
}
.group-filter__title {
  margin-bottom: 0.625rem;
}
.group-filter__checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/*# sourceMappingURL=main.css.map */
