@use '../helpers/index' as *;

.auth-modal {
    width: 480px;
    padding: 36px 48px;
    display: flex;
    flex-direction: column;
    font-size: rem(20);

    &__title {
        font-size: rem(32);
    }

    hr {
        border: 0;
        height: 1px;
        background: var(--color-dark-40);
        width: 100%;
        margin: 0;
    }

    &__switch__button {
        font-size: rem(16);
        text-align: center;

        a {
            transition: all var(--transition-duration) ease;
            cursor: pointer;
            border-bottom: 2px solid var(--color-dark);

            &:hover {
                color: var(--color-accent);
            }
        }
    }

    &__buttons-block {
        display: flex;
        flex-direction: column;
        gap: 10px;

        svg {
            transition: all var(--transition-duration) ease;
            margin-right: 8px;
        }
    }

    .dialog-close {
        display: none;
    }
}

.auth-modal__buttons-block__button {
    svg {
        fill: var(--color-accent);
        stroke: none;
    }

    &:hover {
        svg {
            fill: var(--color-light);
        }
    }
}