.cart-drawer-item {
    display: flex;
    background-color: var(--color-light);
    padding: 20px;
    gap: 24px;

    &__info {
        flex-grow: 1;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__image {
        max-height: 80px;

        &__wrapper {
            display: flex;
            width: 80px;
            height: 80px;
            align-items: center;
            justify-content: center;
            background-color: var(--color-light);
        }
    }

    &__hr {
        margin: 6px 0;
        border: 0;
        height: 1px;
        background-color: var(--color-hr-gray);
    }

    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        flex: 1;
        line-height: 1.5rem;
    }

    &__details {
        font-size: 12px;
        color: var(--color-dark-40);
        width: 90%;
    }

    &__price-block {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__price {
        font-weight: 600;
    }

    &__remove-icon {
        color: var(--color-dark-40);
        transition: all var(--transition-duration) ease;
        cursor: pointer;

        &:hover {
            color: var(--color-dark-20);
        }
    }
}