@use '../helpers/index' as *;

.checkbox-filter {
    display: flex;
    align-items: center;

    &__label {
        margin-left: rem(8);
    }

    &__color {
        width: rem(20);
        height: rem(20);
        align-content: center;
        border-radius: 6px;
        margin: 0 rem(-2) 0 rem(5);

        &__white {
            border: 1px solid var(--color-hr-gray);
        }
    }
}

.price-filter__inputs {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1.25rem;

    input {
        border: 2px solid var(--color-hr-gray);
        transition: all var(--transition-duration) ease;

        &:hover {
            border: 2px solid var(--color-accent);
        }
    }
}

.group-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: rem(25) 0;
    border-bottom: rem(1) solid var(--color-hr-gray);

    &:last-child {
        border: none;
    }

    &__checkbox-list {
        display: flex;
        flex-direction: column;
        gap: rem(12);
    }

    &__show-all {
        border: none;
        background: transparent;
        cursor: pointer;
        color: var(--color-accent);

        &__input {
            padding: 6px 14px;
            height: fit-content;
            border: 2px solid var(--color-hr-gray);
            transition: all var(--transition-duration) ease;

            &:hover {
                border: 2px solid var(--color-accent);
            }
        }
    }
}

.filters-wrapper {
    display: flex;
    flex-direction: column;
    width: rem(210);
    margin-right: auto;
}