@use '../helpers/index' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(30);
    margin: rem(20) 0;

    .button-block {
        display: flex;
        gap: rem(10);

        &__button {
            svg.lucide-circle-user, svg.lucide-log-in {
                margin-right: rem(5);
            }

            &--active {
                display: flex;
                align-items: center;
                background: var(--color-accent);
                color: var(--color-light);

                svg {
                    margin-right: rem(5);
                }

                &:hover {
                    background:var(--color-light) ;
                    color: var(--color-accent);
                }
            }
        }
    }

    a.logo-link {
        transition: all 200ms ease;
    }
}