@use '../helpers/index' as *;

.product-page {
    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: rem(15);
        width: rem(320);

        &__text {
            font-size: rem(15);
        }

        &__color {
            font-weight: normal;
            font-size: rem(16);
        }

        &__colors {
            display: flex;
            gap: rem(10);

            .color {
                width: rem(28);
                height: rem(28);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                cursor: pointer;
                transition: all 0.1ms ease-out;

                &:hover {
                    transform: scale(1.05);
                }

                &__white {
                    border: 1px solid var(--color-hr-gray);
                }
            }

            .selected {
                border: 3px solid var(--color-accent);
            }
        }
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        width: rem(260);
    }

    &__price {
        display: flex;
        flex-direction: column;
        background: var(--color-input-background);
        border-radius: rem(15);
        width: 100%;
        height: rem(170);
        padding: rem(20);
        margin-bottom: rem(15);

        &__title {
            font-size: rem(28);
            font-weight: 700;
        }

        &__progress {
            width: 80px;
        }

        &__stock {
            font-size: rem(16);
            color: green;

            &--red {
                color: red;
            }

            &-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__button {
            margin-top: auto;

            svg {
                margin: rem(6);
            }
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(600);
        height: rem(400);

        img {
            max-width: rem(600);
            max-height: rem(400);
        }
    }
}