@use '../helpers/index' as *;

.product-page {
    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: rem(15);
        width: rem(320);

        &__text {
            font-size: rem(15);
        }

        &__color {
            font-weight: normal;
            font-size: rem(16);
        }

        &__colors {
            display: flex;
            gap: rem(10);

            .color {
                width: rem(25);
                height: rem(25);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                margin: 0 rem(-2) 0 rem(5);

                &__white {
                    border: 1px solid var(--color-hr-gray);
                }
            }
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        background: var(--color-input-background);
        border-radius: rem(15);
        width: rem(240);
        height: rem(180);
        padding: rem(20);

        &__title {
            font-size: rem(28);
            font-weight: 700;
        }

        &__stock {
            font-size: rem(16);
            color: green;

            &--red {
                color: red;
            }
        }

        &__button {
            margin-top: auto;

            svg {
                margin: rem(6);
            }
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(600);
        height: rem(400);

        img {
            max-width: rem(600);
            max-height: rem(400);
        }
    }
}