@use '../helpers/index' as *;

.product-card {
    width: rem(310);
    display: flex;
    flex-direction: column;
    transition: all var(--transition-duration) ease;

    &:hover {
        .product-card__image {
            background: rgba(2, 123, 255, 0.1);
        }
    }

    &--skeleton {
        height: rem(450);
        width: rem(310);
        display: flex;
        flex-direction: column;
    }

    p {
        font-size: rem(14);
        color: var(--color-placeholder);
        margin-bottom: rem(10);
        transition: all 0.1s ease;
    }

    &__title {
        &--skeleton {
            width: rem(120);
            height: rem(36);
        }

        &:hover {
            color: var(--color-accent);
        }
    }

    &__text {
        flex-direction: column;
    }

    &__description {
        &--skeleton {
            margin-top: rem(8);
            display: flex;
            flex-direction: column;
            gap: rem(7);

            &--content {
                width: 100%;
                height: rem(12);
            }
        }
    }

    &__image {
        position: relative;
        align-content: center;
        height: rem(260);
        padding: rem(10) 0;
        background: var(--color-input-background);
        border-radius: rem(15);
        margin-bottom: rem(10);

        &:hover {
            img {
                transform: scale(1.05);
            }
        }

        img {
            max-width: 240px;
            transition: all 0.1s ease;
        }

        &--skeleton {
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(240);

            &--content {
                width: rem(280);
                height: rem(180);
            }
        }

        &__pin-sale {
            font-size: rem(12);
            color: var(--color-light);
            position: absolute;
            bottom: 15px;
            left: 15px;
            background: #ff4444;
            padding: 3px 6px;
            border-radius: 10px;
        }

        &__favorite {
            position: absolute;
            padding: 10px;
            margin: -5px -5px 0 0;
            box-sizing: content-box;
            z-index: 5;
            top: 15px;
            right: 15px;
            fill: none;
            color: lightgrey;
            transition: all 0.1s ease;
            cursor: pointer;

            &-active {
                fill: var(--color-accent);
                stroke: var(--color-accent);
            }

            &:hover {
                color: var(--color-accent);
            }
        }

        img {
            display: flex;
            margin-inline: auto;
            max-width: rem(255);
            max-height: rem(220);
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;

        &__price {
            display: flex;
            align-items: center;
            gap: 10px;

            .price-block__discount-wrapper {
                display: none;
            }

            &--skeleton {
                width: rem(85);
                height: rem(36);
            }
        }

        &__button {
            &--skeleton {
                width: rem(116);
                height: rem(41.6);
                margin-left: auto;
            }
        }

        .button-ui {
            padding: rem(8);
            height: fit-content;

            svg {
                width: rem(18);
                height: rem(18);
                margin-left: 4px;
            }
        }
    }

    &__href {
        width: fit-content;
    }
}