@use '../helpers/index' as *;

.similar {
    &__block {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin: rem(20) 0;
    }

    &__list {
        display: flex;
        gap: 40px;

        .product-card {
            .price-block__discount-wrapper {
                display: none;
            }

            h3 {
                font-size: rem(22);
            }

            h4 {
                font-size: rem(13);
            }
        }
    }
}