.multi-step-job-form {
    max-width: 480px;
    max-height: 600px;
    padding: 48px;
    background-color: var(--color-input-background);
    border-radius: 10px;

    h2 {
        text-align: center;
        color: #00ffcc;
    }

    .form-step {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    label {
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    input, textarea {
        margin-top: 5px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #333;
        color: #fff;
    }

    p {
        text-align: center;
        color: #ccc;
    }
}