.checkout {
    &__container {
        margin-top: 2.5rem;
    }

    &__title {
        font-weight: 800;
        margin-bottom: 2rem;
        font-size: 36px;
    }

    &__layout {
        display: flex;
        gap: 2.5rem;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        flex: 1;
        margin-bottom: 5rem;
    }

    &__sidebar {
        width: 450px;
    }

    &__component {
        &--disabled {
            opacity: 0.4;
            pointer-events: none;
        }
    }
}