@use '../helpers/index' as *;

.verify-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 69vh;

    &__loader {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}