@use '../helpers/index' as *;

.button-ui {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(15);
    transition: all ease var(--transition-duration);
    height: rem(50);
    padding: rem(12) rem(18);
    background: transparent;
    color: var(--color-accent);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-accent);

    svg {
        fill: none;
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        background: var(--color-accent);
        color: var(--color-light);
    }
}